<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<ion-header>
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>
<audio controls autoplay hidden>
  <source src="assets/audio/quiz.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
<ion-content>

 <div class="row ion-text-center">
  <div class="col-sm-2 ion-text-center">
    <ion-card class="qcard" (click)="speakA()">
      <h1 class="question" style="margin-top: 50px;"></h1>
        <ion-icon (click)="convertTextToSpeech('A')" class="ion-text-center audio" name="play-circle-outline"></ion-icon>
    </ion-card>
  </div>
  <div class="col-sm-2 ion-text-center">
    <img src="assets/images/arrow.png" alt="">
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <h1>A</h1>
          </div>
          <input type="radio" name="product1" class="card-input-element" />

        </div>
    </label>
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <h1>B</h1>
          </div>
          <input type="radio" name="product1" class="card-input-element" />

        </div>
    </label>
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <h1>C</h1>
          </div>
          <input type="radio" name="product1" class="card-input-element" />

        </div>
    </label>
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <h1>D</h1>
          </div>
          <input type="radio" name="product1" class="card-input-element" />
        </div>
    </label>
  </div>
 </div>





 

 <div class="row ion-text-center">
  <div class="col-sm-2 ion-text-center">
    <ion-card class="qcard" (click)="speakD()">
      <h1 class="question" style="margin-top: 50px;"></h1>
        <ion-icon (click)="convertTextToSpeech('A')" class="ion-text-center audio" name="play-circle-outline"></ion-icon>
    </ion-card>
  </div>
  <div class="col-sm-2 ion-text-center">
    <img src="assets/images/arrow.png" alt="">
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <h1>A</h1>
          </div>
          <input type="radio" name="product2" class="card-input-element" />

        </div>
    </label>
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <h1>B</h1>
          </div>
          <input type="radio" name="product2" class="card-input-element" />

        </div>
    </label>
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <h1>C</h1>
          </div>
          <input type="radio" name="product2" class="card-input-element" />

        </div>
    </label>
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <h1>D</h1>
          </div>
          <input type="radio" name="product2" class="card-input-element" />
        </div>
    </label>
  </div>
 </div>






 <div class="row ion-text-center">
  <div class="col-sm-2 ion-text-center">
    <ion-card class="qcard" (click)="speaksquare()">
      <h1 class="question" style="margin-top: 50px;"></h1>
        <ion-icon (click)="convertTextToSpeech('A')" class="ion-text-center audio" name="play-circle-outline"></ion-icon>
    </ion-card>
  </div>
  <div class="col-sm-2 ion-text-center">
    <img src="assets/images/arrow.png" alt="">
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <img class="shapeimg"  src="assets/images/quizshapes/circle.png" alt="">
          </div>
          <input type="radio" name="product3" class="card-input-element" />

        </div>
    </label>
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <img class="shapeimg"  src="assets/images/quizshapes/square.png" alt="">
          </div>
          <input type="radio" name="product3" class="card-input-element" />

        </div>
    </label>
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <img class="shapeimg"  src="assets/images/quizshapes/rectangle.png" alt="">
          </div>
          <input type="radio" name="product3" class="card-input-element" />

        </div>
    </label>
  </div>
  <div class="col-sm-2 ion-text-center">
    <label>
        <div class="panel panel-default card-input">
          <div class="panel-body">
            <img class="shapeimg" src="assets/images/quizshapes/triangle.png" alt="">
          </div>
          <input type="radio" name="product3" class="card-input-element" />
        </div>
    </label>
  </div>
 </div>

 <div class="container ion-text-center">
  <button type="button" (click)="marks()" class="btn btn-success">Submit <ion-icon name="checkmark-done-outline"></ion-icon></button>
 </div>

</ion-content>
