<ion-header>
  <ion-toolbar>
    <ion-title>Marks</ion-title>
  </ion-toolbar>
</ion-header>
<audio controls autoplay hidden>
  <source src="assets/audio/cheer.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
<ion-content>
<ion-card class="ion-text-center">
<h1>You have got 3/3 marks :)</h1>
<button class="btn" (click) = "menu()">Homepage <ion-icon name="home-outline"></ion-icon></button>
</ion-card>
<br><br>
<div class="ion-text-center">
  <img src="assets/images/won.gif" alt="">
</div>
</ion-content>
