<ion-header>
  <ion-toolbar>
    <ion-title>Learning Alphabets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card align="left" style="background-color: transparent;">

  <iframe width="400px" height="200px" src="https://www.youtube.com/embed/UtxaRodBVf8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <iframe align="right" width="400px" height="200px" src="https://www.youtube.com/embed/hq3yfQnllfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</ion-card>
<ion-card align="center"style="background-color: transparent;">
  <iframe width="400px" height="200px" src="https://www.youtube.com/embed/v3VLDuRpq6k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-card>


<ion-card align="left" style="background-color: transparent;">

  <iframe align="left" width="400px" height="200px" src="https://www.youtube.com/embed/zAax3z5uQ2k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe align="right" width="400px" height="200px" src="https://www.youtube.com/embed/c7PLTjUkdW0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</ion-card>

</ion-content>
