<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<ion-header>
  <ion-toolbar>
    <ion-title>Alphabets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<audio autoplay>
  <source src="file.mp3" type="audio/mpeg">
</audio>

<div class="row ion-text-center">
  <div class="col-sm-3 ion-text-center">
    <ion-card>
      <h1>A</h1>
        <ion-icon (click)="convertTextToSpeech('A')" class="ion-text-center audio" name="play-circle-outline"></ion-icon>
    </ion-card>
  </div>
  <div class="col-sm-3 ion-text-center">
    <ion-card>
      <h1>B</h1>
      <ion-icon class="ion-text-center audio" name="play-circle-outline"></ion-icon>
    </ion-card>
  </div>
  <div class="col-sm-3 ion-text-center">
    <ion-card>
      <h1>C</h1>
      <ion-icon class="ion-text-center audio" name="play-circle-outline"></ion-icon>

    </ion-card>
  </div>
  <div class="col-sm-3 ion-text-center">
    <ion-card>
      <h1>E</h1>
      <ion-icon class="ion-text-center audio" name="play-circle-outline"></ion-icon>

    </ion-card>
  </div>
  <div class="col-sm-3 ion-text-center">
    <ion-card>
      <h1>F</h1>
      <ion-icon class="ion-text-center audio" name="play-circle-outline"></ion-icon>

    </ion-card>
  </div>
  <div class="col-sm-3 ion-text-center">
    <ion-card>
      <h1>G</h1>
      <ion-icon class="ion-text-center audio" name="play-circle-outline"></ion-icon>

    </ion-card>
  </div>
  <div class="col-sm-3 ion-text-center">
    <ion-card>
      <h1>H</h1>
      <ion-icon class="ion-text-center audio" name="play-circle-outline"></ion-icon>

    </ion-card>
  </div>
  <div class="col-sm-3 ion-text-center">
    <ion-card>
      <h1>I</h1>
      <ion-icon class="ion-text-center audio" name="play-circle-outline"></ion-icon>

    </ion-card>
  </div>
</div>

</ion-content>


