ion-content{
    --background: url(/assets/images/bg.png) no-repeat center/cover fixed;
  }
h1{
    font-size: 200px;
    color: purple;
}
ion-card{
    transition: 1s;
    background-color: white;
    opacity: 1;
    height: 280px;
    width: 280px;
}
.audio{
    width: 0px;
    height: 0px;
}
ion-card:hover{
    .audio{
    color: white;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    opacity: 1;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    }
    border-radius: 100%;
    transition: 1s;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.103);
}
